<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Practice Suite" verbose="1" parallel="classes" thread-count="5">
    <test name="Login Test Basics 1">
        <classes>
            <class name="org.aut.Runner.TestRunner"/>
        </classes>
    </test>
</suite> <!-- Suite -->